<!-- <p> hi {{name.value}}</p>
<form>
  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input type="text" matInput [formControlName]="favoriteColorControl" [errorStateMatcher]="matcher"
           placeholder="Enter your color"> -->
    <!-- <mat-error *ngIf="favoriteColorControl.hasError('pattern') && !favoriteColorControl.hasError('minLength')">
      Please enter a valid color
    </mat-error> -->
  <!-- </mat-form-field>
</form> -->
<!-- 
Favorite Color : <input type ='text'
[formControl]="favoriteColorControl">
<button (click)="sample()"> submit </button> -->
<form [formGroup]="studentForm" (ngSubmit)="saveData()">

  <label for="name"> name: </label>
     <input type='text'
     formControlName="name">
  <label for="age"> age:</label>
     <input type='text'
     formControlName="age">
  
  <label for="gpa"> gpa: </label>
     <input type='text'
     formControlName="gpa">
  
  <label for="city"> city: </label>
    <input type='text'
    formControlName="city">
  
  <label for="working"> working: </label>
     <input type='text'
     formControlName="working">
  
  <button type= "submit" > submit </button>
  
</form>
<app-student-display></app-student-display>


